*.bak
# https://nextjs.org/docs/pages/guides/environment-variables#test-environment-variables
.env*.local
*.env
*.tsbuildinfo
*hot-update.js*
.cache
.DS_Store
.idea/
.vscode/
!.vscode/settings.json
config.json
coverage/
dist/
lerna-debug.log
node_modules/
npm-debug.log*
.claude/scheduled_tasks.lock
